# Distribution / packaging
.Python
venv/
env/
*.sqlite3
.idea/
# Project asset folders

#Ignore Migrations during dev phase
# Database
db.sqlite3
capstone-design-firebasecredential.json
# Editor directories and files
.idea
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
