 {% block profileSidebar %}
  <div class='sidebarDiv'>

    
    <div class="sidebarElement">
      <div> <a style="font-size:15px;" href="{% url 'axisPosts:booking' %}"> Book Classes </a></div>
    </div>
    <div class="sidebarElement" id='uploadAnonPostButton'>
       <a style="font-size:15px;" href=""> Seminar's </a>
    </div>
    
    <div class="sidebarElement">
      <div> <a style="font-size:15px;" href=""> Sport Events </a></div>
    </div>
    <div class="sidebarElement" id='uploadAnonPostButton'>
       <a style="font-size:15px;" href=""> Location</a>
    </div>
    
      
      <div class="sidebarElement">
        <div> <a style="font-size:15px;" href=""> Awards </a></div>
      </div>
      <div class="sidebarElement" id='uploadAnonPostButton'>
         <a style="font-size:15px;" href="{% url 'axisUsers:register' %}"> Achievements</a>
      </div>
      
    
  </div>

  <div class='sidebarHelp'>
    <div class="sidebarElement">
      <a href="{% url 'axisPosts:postView' %}" class="sidebarElement"> Home</a>
    </div>
    <div class="sidebarElement">
      <a href="{% url 'axisCore:base' %}" class="sidebarElement"> Base</a>
    </div>
    <div class="sidebarElement">
      <a href="{% url 'axisUsers:login' %}" class="sidebarElement">About </a>
    </div>
    <div class="sidebarElement">
      <a href="{% url 'axisUsers:register' %}" class="sidebarElement"> Review page</a>
    </div>
  </div>
{% endblock profileSidebar%}