{% block profilesidebar1 %}
  <div class='sidebarDiv'>
  
      <p class='sidebarTitle'> how to access </p>
      <div class='sidebarElement' id='viewProfileButton' >
          <p>you have given two option if you are the student just click on second option  if you are employer login as per guideline</p>
       
      </div>
     
   

  </div>

  <div class='sidebarHelp'>
    <p> this website is for students help student can get all the informations from this websites  they can chat with our employe as well as other student to</p>
    </div>
{% endblock profilesidebar1 %}
