{% block profileSidebar2 %}
  <div class='sidebarDiv'>
    {% if user.is_authenticated %}
      <p class='sidebarTitle'> User Profile </p>
      <div class='sidebarElement' id='viewProfileButton' onclick="location.href='{% url 'axisUsers:profile' %}';">
        <i class='fas fa-user-tie' style='font-size:18px;'></i>
        My Profile
      </div>
      <div class="sidebarElement" id='uploadPostButton'>
        <i class="fas fa-upload"></i>
        Upload Post
      </div>
      <div class="sidebarElement" id='myPostsButton' onclick="location.href='{% url 'axisPosts:userPosts' %}';">
        <i class="fas fa-rss-square"></i>
        Student information
      </div>
      <div class="sidebarElement" id='viewCoinButton'  onclick="location.href='{% url 'axisCore:seminar' %}';">
        <i class="fas fa-copyright"></i>
        Shedule seminar
      </div>
      <div class="sidebarElement" id='axisPremiumButton'>
        <i class="fas fa-shield-alt"></i>
      Class information
      </div>
      <p class='sidebarTitle'> More </p>
      <div class="sidebarElement" id='helpCenter'>
        <i class="fas fa-question-circle"></i>
        Help Center
      </div>
    {%else%}
    
    <div class="sidebarElement">
      <div> <a style="font-size:15px; color:white" href="{% url 'axisUsers:login' %}">  </a></div>
    </div>
    <div class="sidebarElement" id='uploadAnonPostButton'>
       <a style="font-size:15px;color:white" href="{% url 'axisUsers:register' %}"> Rules</a>
    </div>
    
    <div class="sidebarElement">
      <div> <a style="font-size:15px;color:white" href="{% url 'axisPosts:booking' %}"> Register guide </a></div>
    </div>
    <div class="sidebarElement" id='uploadAnonPostButton'>
       <a style="font-size:15px;color:white" href="{% url 'axisUsers:register' %}"> Post guide </a>
    </div>
    
      
      <div class="sidebarElement">
        <div> <a style="font-size:15px;color:white" href="{% url 'axisUsers:login' %}"> Consultency policy </a></div>
      </div>
      <div class="sidebarElement" id='uploadAnonPostButton'>
         <a style="font-size:15px;color:white" href="{% url 'axisUsers:register' %}"> holidays </a>
      </div>
      
    {% endif %}
  </div>

  <div class='sidebarHelp'>
    <div class="sidebarElement">
      <a href="{% url 'axisPosts:postView' %}" class="sidebarElement"> Home</a>
    </div>
    <div class="sidebarElement">
      <a href="{% url 'axisCore:base' %}" class="sidebarElement"> Base</a>
    </div>
    <div class="sidebarElement">
      <a href="{% url 'axisUsers:login' %}" class="sidebarElement"> Login Page</a>
    </div>
    <div class="sidebarElement">
      <a href="{% url 'axisUsers:register' %}" class="sidebarElement"> Registration Page</a>
    </div>
  </div>
{% endblock profileSidebar2%}