{% block profilesidebar1 %}
  <div class='sidebarDiv'>
  
    <div class='sidebarHelp'>
        <p class='sidebarTitle' style="font-size: 20px;"> Student  Guideline</p>
  
        <div class='sidebarTitle' style="font-size: 15px;" >
          <i class="	fa fa-users"></i>
        Visit   student side
        </div>
        <div class='sidebarTitle' style="font-size: 15px;" >
            <i class="fa fa-mortar-board"></i>
           Search for university And apply
          </div>
          <div class='sidebarTitle' style="font-size: 15px;" >
            <i class="fas fa-calendar"></i>
            Book the classes
          </div>
          <div class='sidebarTitle'style="font-size: 15px;" >
            <i class="fa fa-calendar-check-o"></i>
            Join THe Seminars
          
          </div>
    
        <div class='sidebarTitle' style="font-size: 15px;">
        <i class="fa fa-child"></i>
         Ask Help From Employe
        </div>
        
        <div  class='sidebarTitle' style="font-size: 15px;">
       <i class="fas fa-cog"></i>
       more
      </div>
    
        
   <footer>
     
    <a href="#">
      <i class="fa fa-twitter" ></i>
    </a>
    <a href="#">
     <i class="fa fa-facebook" aria-hidden="true" ></i>
   </a>
   <a href="#">
     <i class="fa fa-instagram" ></i>
   </a>
   <a href="#">
     <i class="fa fa-google" ></i>
   </a>
   
 </footer>
        
    
         
       
      </div>
     
   

      
        
        
        
  </div>
{% endblock profilesidebar1 %}
