{% block setting %}
<div class='sidebarDiv'>
  <p class='sidebarTitle' style="font-size: 20px;"> Admin Guideline </p>
  
    <div class='sidebarTitle' style="font-size: 15px;" >
      <i class="fa fa-user-circle"></i>
     Login With Super user
    </div>
    <div class='sidebarTitle' style="font-size: 15px;" >
        <i class="	fa fa-plus-square"></i>
        Create Own Account 
      </div>
      <div class='sidebarTitle'style="font-size: 15px;" >
        <i class="fa fa-hourglass-start"></i>
      Manage Post And Seminars
    
      </div>

    <div class='sidebarTitle' style="font-size: 15px;">
    <i class="	fa fa-address-book"></i>
     Collect Student Information 
    </div>
    <div class='sidebarTitle' style="font-size: 15px;">
        <i class="fa fa-address-card-o"></i>
         Collect Class Information 
        </div>
    
    <div  class='sidebarTitle' style="font-size: 15px;">
   <i class="fa fa-bell"></i>
   Send Notifications to site visitor
  </div>
  
  
{% endblock setting%}
