
.postFeedCard
{
  width:100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:1em;
  position: relative;
  padding:1em;
  padding-top: 8px;
  padding-bottom: 5px;
  border-radius: 8px;
  border: 1px solid green;
  background-color: gray;
  color: black;
}
