{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'axisPosts/css/postFeed.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'axisPosts/css/themes/darkMode.css' %}">
{% endblock %}
{% block javascript %}

{% endblock %}
<div class="postFeed" id="search_feed">
  
        {% if studentinfo %}
              {% for gautam in studentinfo %}  
    
                <div class='postFeedCard'>
                    <div class="postFeedTitle" style="font-size: 20px;color: aliceblue;">
                        Name: &nbsp; &nbsp;{{gautam.firstName}}  {{gautam.lastName}}    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;    University:{{gautam.university}}
                    </div>
                    
               
                     <div class="postFeedTitle">
                      Gender: &nbsp; &nbsp;{{gautam.gender}} &nbsp; &nbsp;    Mobile: &nbsp;{{gautam.mobile}}
                     </div>
    
                     
                        <div class="postFeedTitle">
                           Date of Birth: &nbsp; {{gautam.dob}}    
                        </div>
                
                     <div class="postFeedTitle">
                        Email Id: &nbsp;{{gautam.email}}    
                     </div>
    
               
                     <div class="postFeedTitle">
                         Address: &nbsp;{{gautam.address}}    
                     </div>
                
                     <div class="postFeedTitle">
                         Qualification: &nbsp; {{gautam.qualifications}}    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;    
                    </div>
                
                    <div class="postFeedTitle">
                        Applied for:  &nbsp;{{gautam.subject}}    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   
                    </div>
               
                   
    
       
                    </form>
                   
                    <div class="post-upd"><small> applieddate : &nbsp; {{ gautam.appliedon }}</small></div>
                </div>
              {%endfor%}
           
        {%else%}
            <div class="loadMore" id="loadCompleteDiv">
                <span class="loadMoreButton" >Noresult found.</span>
                
            </div>
        {%endif%}
        
        </div>


       