
<div ng-if="UserInfo.approvedTermsAndConditions || !UserInfo.isAuthenticated">
  <ncy-breadcrumb></ncy-breadcrumb>
  <div style="border: 5px solid green; background-color: gray;"
</div>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<form name="tandc" ng-submit="approveTandC()">
				<div class="panel panel-default" style="margin-top:20px;">
					<div class="panel-body" style="max-height:600px; overflow-y:scroll; background-color:white;">
						<div style="text-align:center;">
							<h1>Terms and Conditions</h1>
							<p>
               1. employer need to register their detail theit own user ids<br>
              2. when you posst the detail anad any informations thing you need to follow company guidelines <br>
              3. you will have super user password from where you can access our main page  but you cannot post anything <br>
              4. you can reply to the user un the chat section but ou cant not have right to access personal information and have peersonal chat
							</p>
						</div>
					</div>
				</div>
				<div style="text-align:center;" ng-if="settings.Authentication.RequireTermsAndConditions && !UserInfo.approvedTermsAndConditions && UserInfo.isAuthenticated">
					<a  href="../register" style="margin:20px;" class="btn btn-primary" type="submit">Agree to Terms and Conditions</a>
				</div>
			</form>
		</div>
	</div>
</div>

  